{{ define "index" }}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <title>Awesome clicker</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="bi bi-star-fill"></i> Awesome clicker
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="row mt-3">
      <div class="col-6">
        {{ template "templates/enemy" }}
      </div>
      <div class="col-6">
        <div class="row mb-3">
          <div class="col">
            {{ template "templates/player" }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ template "templates/upgrades"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    const state = {
      id: ''
    }

    window.onload = function () {
      var conn;
      const playerCredits = document.getElementById('playerCredits')
      const playerDamage = document.getElementById('playerDamage')
      const enemyHealth = document.getElementById('enemyHealth')
      const enemyMaxHealth = document.getElementById('enemyMaxHealth')
      const enemyHealthBar = document.getElementById('enemyHealthBar')
      const enemyLevel = document.getElementById('enemyLevel')


      document.getElementById("mainButton").onclick = function (e) {
        if (!conn) {
          return
        }
        conn.send(JSON.stringify({ clientId: state.id, type: 'EVENT_CLICK' }));
        e.preventDefault()
      };

      if (window["WebSocket"]) {
        const protocol = document.location.protocol === 'https:' ? 'wss:' : 'ws:'
        conn = new WebSocket(`${protocol}//${document.location.host}/ws`);
        conn.onclose = function (evt) {
          console.log('Connection closed');
        };
        conn.onmessage = function (evt) {
          try {
            processEvent(JSON.parse(evt.data))
          } catch (e) {
            console.log(`Invalid event: ${evt.data}`)
            console.log(e)
          }
        };
      } else {
        console.log('Websockets are not supported')
      }
    };

    const processEvent = (evt) => {
      switch (evt.type) {
        case 'EVT_CONNECTED':
          state.id = evt.data.id
          console.log(`Connected: id = ${state.id}`)
          break
        case 'EVT_PLAYER_STATE':
          const { damage, credits, enemy } = evt.data
          playerCredits.innerText = evt.data.credits
          playerDamage.innerText = evt.data.damage
          enemyHealth.innerText = enemy.health
          enemyMaxHealth.innerText = enemy.maxHealth
          enemyLevel.innerText = enemy.level
          enemyHealthBar.style = `width: ${enemy.health / enemy.maxHealth * 100}%`
          break;
        default:
          console.warn(`Unknown message type: ${evt.type}`)
      }
    }
  </script>
</body>

</html>
{{ end }}}