{{ define "templates/player" }}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Player</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">Credits: <span id="playerCredits"></span></li>
        <li class="list-group-item d-flex justify-content-between">Damage: <span id="playerDamage"></span></li>
      </ul>
    </div>
  </div>
</div>
{{ end }}