{{ define "templates/upgrades" }}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">Upgrade 1</h5>
      <small>1000 credits</small>
    </div>
    <p class="mb-1">Increases damage done by 5</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Upgrade 2</h5>
      <small class="text-muted">5000 credits</small>
    </div>
    <p class="mb-1">Increases damage done by 25</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Upgrade 3</h5>
      <small class="text-muted">20000 credits</small>
    </div>
    <p class="mb-1">Increases damage done by 50</p>
  </a>
</div>
{{ end }}